*{
  margin: 0;
  padding: 0;
  font-family: ui-monospace !important;  /* color: #7469B6; */
  
}
.homeBtn{
  color: black !important;
  border: 1px solid black !important;
  font-size: 16px !important;
  margin-top: 20px !important;
}
.homeBtn:hover{
  background-color: #7469B6  !important;
  border: none !important;
  color: white !important;
}
.heading{
  font-family: Brush Script MT, Brush Script Std, cursive !important;
}
::-webkit-scrollbar{
  width: 15px;
}
/* ::-webkit-scrollbar-track{
  background: #d1e5ff;
} */
::-webkit-scrollbar-thumb{
  background: linear-gradient(#7469B6);
}

/* section main */
.App{
  background-image: url("../public/img/main.jpeg");
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.main{
  display: flex;
  height: 85vh;
}
.content{
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;  
 
}
.content Button:hover{
    background-color: rgb(172, 110, 197);
}
.aboutImg{
  width: 100%;
  height: 100%;
}
.certificate:hover{
  background-color: rgb(172, 110, 197) !important;  
}
.submitButton:hover{
  background-color: rgb(172, 110, 197) !important;
}
.verifyBtn{
  background-color: #7469B6 !important;
}
.verifyBtn:hover{
  background-color: rgb(172, 110, 197) !important;
}

